.card {
    background: rgba(var(--accent-bg), 0.14);
    border-radius: 8px;
    border: 1px solid rgba(var(--primary-bg), 1);
    box-shadow: 8px 10px 30px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: var(--primary-text)
}

.editDetail {
    background: rgba(var(--accent-bg), 0.14);
    color: var(--primary-text);
    border-width: 0;
}

.editDetail:focus {
    background: rgba(var(--accent-bg), 0.14);
    color: var(--primary-text);
    border-width: 0;
}

.password-extras {
    background: rgba(var(--accent-bg), 0.14);
    color: var(--primary-text);
    border-width: 0;
    cursor: pointer;
    border-radius: var(--bs-border-radius);
}

.p-datatable-wrapper {
    border-radius: 8px;
    min-height: 290px;
}

.progress {
    height: 0.5rem;
}

.is-invalid {
    border-color: var(--bs-form-invalid-border-color);
}

.p-invalid {
    border-color: var(--bs-form-invalid-border-color);
}

.p-password {
    display: block;
}

.p-password-input {
    background: var(--bs-body-bg);
    color: var(--bs-body-color);
    width: 100%;
    border-radius: var(--bs-border-radius);;
}

.p-password-input:read-only {
    background: rgba(var(--accent-bg), 0.14);
    color: var(--primary-text);
}

.p-password-input:read-only::placeholder {
    color: var(--primary-text);
}

.p-password-input:read-only + .p-input-icon {
    color: var(--primary-text);
}

.p-password-input::placeholder {
    color: var(--bs-body-color);
}

.p-input-icon {
    padding-right: 2rem;
    color: var(--bs-body-color);
}

.p-password-show-icon {
    vertical-align: super;
}

.p-password-hide-icon {
    vertical-align: super;
}

.password-input .p-input-icon {
    padding-right: 0rem;
}
